body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.favButton:hover {
    background-color: rgb(169, 213, 223);
  }

h1{
  text-align: center;
}

h2 {
    text-align: center;
}

a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
    background-color: #f8f9fa;
    height: 40px;
}

footer img{
  width: 200px;
  margin: 0;
}
footer p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 350px;
  margin: 0 auto;
}

main {
    padding: 1rem;
    min-height:calc(100vh - 56px - 40px);
}

.dentist-card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.dentist-card > img {
    width: 100%;
}

.dentist-card .info {
    padding: 0.5rem;
}

.dentist-card p {
    text-align: center;
    margin: 0;
}

.dentist-card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #15181b;
  color: white;
}
.dark a {
  color: white;
}

footer.dark {
    background-color: #212529;
}


/* my styles */

.social-icons-container {
    display: flex;
    align-items: center;
}

.social-icons-container img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

footer.dark img {
    filter: invert(1);
}

.dark .social-icons-container img {
    filter: none;
}

.social-icons-container a {
    margin: 5px;
}
